body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(45deg, #ff6b6b, #f06595, #ff9e2c, #fffc7d); 
  background-size: 400% 400%;
  animation: gradientBackground 10s ease infinite; 
  overflow: hidden; 
  position: relative;
}


@keyframes gradientBackground {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

#main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}



#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#search-form {
  width: 100%;
  max-width: 600px;
}

.input-group {
  width: 100%; /* garante que não estique mais */
}

#jokes {
  background-color: rgba(255, 255, 255, 0.9); 
  border-radius: 10px;
  padding: 30px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.joke-text {
  font-size: 1.5rem;
  color: #333;
  line-height: 1.5;
}

.text-danger {
  color: #e74c3c;
  font-weight: bold;
}